# Postgres 示例：postgres://postgres:postgres@localhost:5432/postgres_db
DATABASE_URL=数据库连接地址

# 可选项 - 有默认值，如不像配置，请删除一下配置
DATABASE_MAX_CONNECTIONS=连接池最大连接数
APP_HOST=127.0.0.1
APP_PORT=3000
LOG_LEVEL=debug
